<section class="d-flex flex-column  mx-auto">
  <img src="images/Logo.svg" class="img-fluid " alt="logo">
  <div class="form">
    <span class="welcome">Create new account</span>
    <h1>Register</h1>
    @if(errorMessage){
    <div class="alert alert-danger" role="alert">
      <span>
        {{errorMessage}}
      </span>
    </div>
    }
    <form [formGroup]="registerForm" class="needs-validation">
      <!-- first name - last name -->
      <div class="group_input d-flex gap-4">
        <div class="col-md-6 pe-2">
          <label for="firstName" class="form-label">First Name</label>
          <input formControlName="firstName" type="text" class="form-control  rounded-2 py-3" id="firstName" [class]="{
                'is-invalid': registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched,
                 'is-valid': registerForm.get('firstName')?.valid && registerForm.get('firstName')?.touched
                 }" placeholder="John">
          @if(registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched){
          <div class="invalid-feedback">
            First Name is required.
          </div>
          }
        </div>
        <div class="col-md-6 ps-2">
          <label for="lastName" class="form-label">Last Name</label>
          <input formControlName="lastName" type="text" class="form-control rounded-2 py-3" id="lastName" [class]="{
                'is-invalid': registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched,
                 'is-valid': registerForm.get('lastName')?.valid && registerForm.get('lastName')?.touched
                 }" placeholder="Doe">
          @if(registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched){
          <div class="invalid-feedback">
            Last Name is required.
          </div>
          }
        </div>
      </div>
      <!-- user name - phone -->
      <div class="group_input d-flex gap-4">
        <div class="col-md-6 pe-2">
          <label for="userName" class="form-label">User Name</label>
          <input formControlName="userName" type="text" class="form-control rounded-2 py-3" id="userName" [class]="{
                  'is-invalid': registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched,
                   'is-valid': registerForm.get('userName')?.valid && registerForm.get('userName')?.touched
                   }" placeholder="John Doe">
          @if (registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched){
          <div class="invalid-feedback">
            User Name is required.
          </div>
          }
        </div>
        <div class="col-md-6 ps-2">
          <label for="phone" class="form-label">Phone</label>
          <input formControlName="phone" type="text" class="form-control rounded-2 py-3" id="phone" [class]="{
                  'is-invalid': registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched,
                   'is-valid': registerForm.get('phone')?.valid && registerForm.get('phone')?.touched
                   }" placeholder="+1234567890">
          @if (registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched){
          <div class="invalid-feedback">
            Phone is required.
          </div>
          }@else if (registerForm.get('phone')?.errors?.['pattern'] && registerForm.get('phone')?.touched){
          <div class="invalid-feedback">
            Phone number is invalid.
          </div>
          }
        </div>
      </div>
      <!-- age - email -->
      <div class="group_input d-flex gap-4">
        <div class="col-md-6 pe-2">
          <label for="age" class="form-label">Age</label>
          <input formControlName="age" type="text" class="form-control rounded-2 py-3" id="age" [class]="{
                  'is-invalid': registerForm.get('age')?.invalid && registerForm.get('age')?.touched,
                   'is-valid': registerForm.get('age')?.valid && registerForm.get('age')?.touched
                   }" placeholder="20">
          @if (registerForm.get('age')?.invalid && registerForm.get('age')?.touched){
          <div class="invalid-feedback">
            Age is required.
          </div>
          }@else if (registerForm.get('age')?.errors?.['min'] && registerForm.get('age')?.touched){
          <div class="invalid-feedback">
            You must be at least 18 years old.
          </div>
          } @else if (registerForm.get('age')?.errors?.['max'] && registerForm.get('age')?.touched){
          <div class="invalid-feedback">
            Age must be less than 100 years
          </div>
          }
        </div>
        <div class="col-md-6 ps-2">
          <label for="email" class="form-label">E-mail</label>
          <input formControlName="email" type="email" class="form-control rounded-2 py-3" id="email" [class]="{
                  'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched,
                   'is-valid': registerForm.get('email')?.valid && registerForm.get('email')?.touched
                   }" placeholder="john@mail.com">
          @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
          <div class="invalid-feedback">
            E-mail is required.
          </div>
          }@else if (registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched){
          <div class="invalid-feedback">
            E-mail is invalid.
          </div>
          }
        </div>
      </div>
      <!-- password -->
      <div class="group_input position-relative">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" [type]="isShowPass?'text':'Password'" class="form-control rounded-2 py-3 mb-2"
          id="password" [class]="{
                'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched,
                 'is-valid': registerForm.get('password')?.valid && registerForm.get('password')?.touched }"
          placeholder="Enter your password">
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
        <div class="invalid-feedback">
          Password is required.
        </div>
        }
        <i [class]="isShowPass?'bi bi-eye-fill':'bi bi-eye-slash-fill '"
          class="position-absolute top-50 -translate-middle-y end-10 fs-4" (click)="showPass()"></i>
      </div>

    </form>
  </div>
  <div class="btn_login d-flex flex-column gap-3">
    <button [disabled]="registerForm.invalid" (click)="register(registerForm)" class="btn w-100 py-1">
      @if (isLoading) {
      <i class="spinner-border spinner-border-sm mb-1 me-2"></i>
      }
      Register
    </button>

    <button routerLink="/auth/login" class="btn w-100 py-1">Login</button>
  </div>
</section>
