<section class="newsletter-section position-relative text-center text-white pb-5">
  <div class="squares-pattern-right">
  <span class="pattern1"></span>
  <span class="pattern2"></span>
  <span class="pattern3"></span>
  <span class="pattern4"></span>
  <span class="pattern5"></span>
  <span class="pattern6"></span>
  <span class="pattern7"></span>
  <span class="pattern8"></span>
</div>
  <div class="squares-pattern-left">
<span class="design1"></span>
<span class="design2"></span>
<span class="design3"></span>
<span class="design4"></span>
<span class="design5"></span>
<span class="design6"></span>
<span class="design7"></span>
<span class="design8"></span>
</div>

  <div class="container pb-5">
    <div class="text_info position-relative  py-5 mx-auto">
        <h3>Subscribe to Our Newsletter</h3>
        <p class="mb-4">Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet,<br> consectetur. Elit adipiscing enim pharetra hac.</p>
        <div class="input_sub position-absolute">
            <div class="input_group  py-3">
        <span class="border px-3 py-2"><i class="bi bi-envelope-fill fs-5"></i></span>
                <input type="email" class="form-control" placeholder="youremail123@gmail.com"/>
                <button class="btn">SUBSCRIBE</button>
            </div>
        </div>
    </div>
</div>
</section>
