<section class="my-5 py-5">
    <div class="header_wrapper">
        <span>Read our articles</span>
        <div class="lineH3">
            <h3>Latest Articles</h3>
        </div>
    </div>
    <div class="container">
        <div class="row g-5 py-4">
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="card_item pb-3 border-bottom">
                    <img src="images/articles1.png" class="img-fluid" alt="articles">
                    <span>2 aug, 2021</span>
                    <h4>Reading books always makes the moments happy</h4>
                </div>
                <ul>
                    <li><i class="bi bi-facebook fs-6"></i></li>
                    <li><i class="bi bi-twitter fs-6"></i></li>
                    <li><i class="bi bi-instagram fs-6"></i></li>
                </ul>
            </div>
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="card_item pb-3 border-bottom">
                    <img src="images/articles2.png" class="img-fluid" alt="articles">
                    <span>2 aug, 2021</span>
                    <h4>Reading books always makes the moments happy</h4>
                </div>
                <ul>
                    <li><i class="bi bi-facebook fs-6"></i></li>
                    <li><i class="bi bi-twitter fs-6"></i></li>
                    <li><i class="bi bi-instagram fs-6"></i></li>
                </ul>
            </div>
            <div class="item col-12 col-md-6 col-lg-4">
                <div class="card_item pb-3 border-bottom">
                    <img src="images/articles3.png" class="img-fluid" alt="articles">
                    <span>2 aug, 2021</span>
                    <h4>Reading books always makes the moments happy</h4>
                </div>
                <ul>
                    <li><i class="bi bi-facebook fs-6"></i></li>
                    <li><i class="bi bi-twitter fs-6"></i></li>
                    <li><i class="bi bi-instagram fs-6"></i></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <button>read all articles →</button>
        </div>
    </div>
</section>