<h2>Card Example</h2>
    <div [formGroup]="checkoutForm">
        <input matInput placeholder="name" formControlName="name" />
        <input matInput placeholder="Email" type="email" formControlName="email" />
      <ngx-stripe-elements
        [stripe]="stripe"
        [elementsOptions]="elementsOptions"
      >
        <ngx-stripe-card [options]="cardOptions" />
      </ngx-stripe-elements>
    </div>
    <button type="submit" (click)="createToken()">
      CREATE TOKEN
    </button>
