<section class="d-flex flex-column  mx-auto">
    <img src="images/Logo.svg" class="img-fluid " alt="logo">
    <div class="form">
        <span class="welcome">Welcome back!</span>
        <h1>Reset Your Password Now !</h1>
        @if(errorMessage){
        <div class="alert alert-danger" role="alert">
            <span>
                {{errorMessage}}
            </span>
        </div>
        }
        <form [formGroup]="resetPassForm" (ngSubmit)="send(resetPassForm)"  class="needs-validation">
            <div class="group_input">
                <label for="email" class="form-label">E-mail</label>
                <input formControlName="email" type="email" class="form-control rounded-2 py-3" id="email" [class]="{
                'is-invalid': resetPassForm.get('email')?.invalid && resetPassForm.get('email')?.touched,
                 'is-valid': resetPassForm.get('email')?.valid && resetPassForm.get('email')?.touched
                 }" placeholder="john@mail.com">
            </div>
            <div class="group_input">
                <label for="otp" class="form-label">OTP</label>
                <input formControlName="otp" type="number" class="form-control rounded-2 py-3" id="otp" [class]="{
                'is-invalid': resetPassForm.get('otp')?.invalid && resetPassForm.get('otp')?.touched,
                 'is-valid': resetPassForm.get('otp')?.valid && resetPassForm.get('otp')?.touched
                 }" placeholder="Enter your OTP">
            </div>
            <div class="group_input position-relative">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" [type]="isShowPass?'text':'Password'"
                    class="form-control rounded-2 py-3 mb-2" id="password" [class]="{
                'is-invalid': resetPassForm.get('password')?.invalid && resetPassForm.get('password')?.touched,
                 'is-valid': resetPassForm.get('password')?.valid && resetPassForm.get('password')?.touched }"
                    placeholder="Enter your password">
                <i [class]="isShowPass?'bi bi-eye-fill':'bi bi-eye-slash-fill '"
                    class="position-absolute top-50 translate-middle-y end-10 fs-4" (click)="showPass()"></i>
                <input class="check_remember form-check-input me-2" type="checkbox">
                <label class="remember">Remember Me</label>
            </div>
        </form>
    </div>
    <div class="btn_login d-flex flex-column gap-3">
        <button type="submit" [disabled]="resetPassForm.invalid" (keyup.enter)="send(resetPassForm)" class="btn w-100 py-1">
            @if (isLoading) {
            <i class="spinner-border spinner-border-sm mb-1 me-2"></i>
            }
            Send</button>
        <button type="button" class="btn w-100 py-1" routerLink="/auth/login">Login</button>
    </div>
</section>